
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}

body {
    margin:0;
}


#logo {
    margin:0;
    font-weight: 700;
}

.contact-us {
    background: #fff7d1;
}

header {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    margin-top: 10px;
    background-color: #FFD54F;
    height:auto;
}

ul {
    list-style: none;
    display: flex;
    margin:0;
}


a.navlinks {
    padding:10px 15px;
    margin: 0px;
    color:black;
}

a.contact-us {
    padding: 0;
}


.contact-us {
    margin: 0;
    padding: 7px 12px;
    border-radius: 20px;
    border-width: 0px;
    font-size: 16px;
}

li, a.navbar {
    font-size:16px;
    text-decoration: none;
    margin:0;
}

a.navlinks:hover{
    background-color: #fff7d1;
    cursor:pointer;
    transition: 0.4s;
}
