h1, h2{
    color: #2C2E43;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:30px;
}



ul {
    background-color:rgb(255, 234, 160);
    list-style: none;
    display:flex;
    padding-left: 0px;
}

li {
    display:flex;
}

a {
    padding: 10px 20px 10px 20px;
}

li, a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

header{
    align-items:center;
    display:flex;
    justify-content:space-around;
    padding-bottom: 0px;
}


.nav-links {
    list-style: none;
}


.nav-links a{
    display:inline-block;
    transition: 0.3s;
}


.nav-links a:hover{
    background-color:#fff7d1;
    cursor:pointer;
}
