/* .classA:hover {
    background-color: rgb(255, 202, 87);
} */

body {
    background-color: rgb(255, 255, 255);
}



h2.about-us-heading, h2.contact {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:30px;
    text-decoration-color: #fff7d1;
    font-size:24px;
}

mark {
    display: inline-block;
    background-color: #fff7d1;
    line-height:0em;
    padding-bottom: 1em;
}



body h2{
    text-align: left;
    color: #000000;
    padding-top: 0px;
    margin-top:0;
}




body div {
    color: #2C2E43;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:30px;
}

div.text-side {
    display:block;
    flex-basis:40vw;
    margin: 5vh 5vw 0 0;
}



div.about-me{
    display: flex;
    justify-content: space-around;
}

img.about-me{
    box-shadow: 10px 10px #fff7d1;
    box-sizing: border-box;
    align-self:start;
    flex-basis: 50%;
    width:50%;
    margin: 5vh 5%;
}


h2.contact{
    margin: 0% 5%;
}

section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:30px;
    color: #2C2E43;
    margin: 0% 5%;
}

form.contact-form{
    margin-right:0;
    padding:0;
}



input, textarea{
  font-size: 16px;
  width:90vw;
  margin-left: 5vw;
  box-sizing: border-box;
  border: 2px solid #2C2E43;
  border-radius: 7px;
  padding: 5px 10px;
}

textarea {
    vertical-align: top;
}

input {
    margin-bottom: 20px;
}

button{
    background-color:#fff7d1;
    border: 1.5px solid black;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 20px 5vw;  
    text-decoration: none;
}

button:hover {
    background-color:#ffee9a;
    cursor: pointer;
    transition:0.3s;
}




/* Update for smaller screens */

@media screen and (max-width: 900px) {
    div.about-me{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
    }

    img.about-me{
        align-self:center;
        box-shadow: 10px 10px #fff7d1;
        width: 90vw;
        margin: 5% 5%;
        border-radius: 7px;
        border: none;
    }

    div.text-side {
        display:block;
        flex-basis:40%;
        margin: 0% 5%;
    }
}