/* .classA:hover {
    background-color: rgb(255, 202, 87);
} */

body {
    background-color: rgb(255, 255, 255);
}


body h2{
    text-align: left;
    color: #000000;
    padding-top: 0px;
    margin-top:0%;
}



body div {
    color: #2C2E43;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:30px;
}

div.text-side {
    display:block;
    flex-basis:40%;
    margin: 5% 5% 0% 0%;
}

div.about-me{
    display: flex;
    justify-content: space-around;
}

img.about-me{
    align-self:start;
    flex-basis: 50%;
    width:50%;
    margin: 5% 5%;
    border: 10px solid #fff7d1;
}

div.form, section, h2.contact {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:30px;
    color: #2C2E43;
    margin: 0% 5%;
}


/* Update for smaller screens */

@media screen and (max-width: 900px) {
    div.about-me{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
    }

    img.about-me{
        align-self:center;
        width: 90%;
        margin: 5% 5%;
        border: 10px solid #fff7d1;
    }

    div.text-side {
        display:block;
        flex-basis:40%;
        margin: 0% 5% 0% 5%;
    }
}