/* .classA:hover {
    background-color: rgb(255, 202, 87);
} */


body {
    /* background: linear-gradient(to bottom, rgb(255, 227, 125) 0%, rgba(255,255,0, 0) 100px); */
    background-repeat: no-repeat;
}


body h1{
    text-align: center;
    color: #000000;
    padding-top: 0px;
}

body div {
    color: #2C2E43;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:30px;
}

div.texts{
    display:flex;
    justify-content:space-around;
}



section.french-side{
    flex-basis:45%
}

section.english-side{
    margin-left:0;
    flex-basis:45%
}


hr.horizontal{
    margin:0px;
    border: 2px solid #ffd7238e;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    div.texts{
        display:block;
        margin: 0px 5%;
    }

    section.french-side {
        margin-bottom:7px;
    }

    section.english-side {
        margin-top:7px;
    }

    section {
        display: block;
        width: 100%; /* make each section have a width of 50% of the window */
        height: 35vh;
        margin:5px;
        overflow-y:auto;
    }
}










ul {
    background-color:rgb(255, 234, 160);
    list-style: none;
    display:flex;
    padding-left: 0px;
}

li {
    display:flex;
}

li, a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

header{
    align-items:center;
    display:flex;
    justify-content:space-around;
    padding-bottom: 0px;
}


.nav-links {
    list-style: none;
}


.nav-links li{
    display:inline-block;
    padding: 10px 20px 10px 20px;
    transition: 0.3s;
}


.nav-links li:hover{
    background-color:#fff7d1;
    cursor:pointer;
}
