/* .classA:hover {
    background-color: rgb(255, 202, 87);
} */


div.top {
    display: inline;
}

div.back-button {
    margin:5%;
}

body h1{
    text-align: center;
    color: #000000;
    padding-top: 0px;
}

body div.texts {
    color: #2C2E43;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:30px;
}

div.texts{
    display:flex;
    justify-content:space-around;
}



section.french-side{
    margin-left:5%;
    margin-right: 2%;
}

section.english-side{
    margin-left:2%;
    margin-right:5%;
}


hr.horizontal{
    margin:0px;
    border: 2px solid #ffd7238e;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    div.texts{
        display:block;
        margin: 0px 5%;
    }

    section.french-side {
        margin-bottom:7px;
    }

    section.english-side {
        margin-top:7px;
    }

    section {
        display: block;
        width: 100%; /* make each section have a width of 50% of the window */
        height: 35vh;
        margin:5px;
        overflow-y:auto;
    }
}