/* Style the heading */

mark {
    display: inline-block;
    background-color: #fff7d1;
    line-height:0em;
    padding-bottom: 1em;
}

body h2{
    text-align: left;
    color: #000000;
    padding-top: 0px;
    margin-left: 5%;
    margin-bottom:20px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:30px;
    text-decoration-color: #fff7d1;
}


html {
    box-sizing: border-box;
}

.story-cards {
    margin-top:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 5%;
    padding-top:0;
    background-color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.story-card {
    width: 42vw; 
    height: auto;
    margin-top:0;
    margin-bottom: 5%;
    background-color: #fff;
    border-radius: 7px;
    overflow: hidden;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    box-shadow: 5px 5px #fff7d1;
    transition: 0.2s;
    padding-top:10px;
}




img {
    display: block;
    width: 100%;
    height: 25vw;
    object-fit: cover;
    object-position: 100% 0;
}

.story-card:hover {
    transform: translateY(-0.5%);
}

.content {
    padding: 5%;
    padding-top: 0;
}

h3 {
    font-weight: normal;
    text-align: center;
}


.read-btn {
    display: block;
    width: 90%;
    padding: 5%;
    font-size: 20px;
    text-align: center;
    color: black;
    border-style: solid;
    border-width: px;
    background-color: #fff7d1;
    border-radius: 7px;
    transition: 0.2s;
    cursor: pointer;
}


.read-btn span {
    margin-left: 1rem;
    transition: 0.2s;
}

.read-btn:hover >span{
    margin-left: 1.5rem;
    transition: 0.2s;
}

.read-btn:hover, .read-btn:active {
    background-color: #ffee9a;
}


@media screen and (max-width: 550px) {
    .story-card {
        width: 90vw;
    }

    img {
        height: 50vw;
    }
    
}

@media screen and (min-width: 1000px) {
    .story-card {
        width: 28vw;
    }
    
}

@media screen and (min-width: 1200px) {
    .story-card {
        width: 20vw;
    }


    img {
        height: 15vw;
    }
    
}