div.firstname {
    width:100%;
}

div.firstname input{
    width:100%;
}

p.lastname input{
    width:100%;
}

p.email input{
    width:100%;
}

p.comments textarea{
    width:100%;
}

button {
    font-size:20px;
    padding: 5px 10px;
}