@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
:root {
    --base-yellow: #FFD54F;
    --transparent-yellow: #ffd64f5f;
    --light-yellow: #fff7d1;
    --deep-grey: #272727;
    --light-grey: #4a4a4a;
    --lighter-grey: #686868;
    --text-grey:rgba(255, 255, 255, 0.8);
}


* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dot {
    height: 19px;
    width: 19px;
    background-color: var(--base-yellow);
    border-radius: 50%;
    border-color:black;
    vertical-align: top;
    display: inline-block;
    margin-left:5px;
    transition: 0.3s;
  }

#light-dark-switch {
    margin-right: 10px;
    text-align: left;
    height: 30px;
    padding:0;
    vertical-align: middle ;
    width: 60px;
    background-color: var(--light-yellow);
    border-radius: 15px;
    border-width: 0px;
  }



a {
    text-decoration: none;
}

body {
    margin:0;
}

.contact-us:hover{
    background-color: #ffee9a;
    cursor:pointer;
}


#logo {
    margin:0;
    font-weight: 700;
}

.contact-us {
    background: var(--light-yellow);
    margin: 5px;
    padding: 7px 12px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    border: none;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    margin: 0;
    background-color: var(--base-yellow);
    height:50px;
    border-bottom: 10px solid var(--light-yellow);
}

ul {
    list-style: none;
    display: flex;
    margin:0;
}


li, a.navbar {
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: inline-block;
}


a.navlinks {
    position:relative;
    text-align: center;
    width:70px;
    letter-spacing:0.5px;
    padding:10px 15px;
    margin-left: 10px;
    margin-right: 10px;
    color:black;
}

.right {
    display: flex;
    align-items: center;
}

a.navlinks:after {
    content:"";
    position: absolute;
    width:0%;
    left:0;
    border-radius: 2px;
    background-color: var(--light-yellow);
    height:3px;
    bottom:0px;
}


a.navlinks:hover {
    color:var(--light-yellow);
    transition: 0;
}

a.navlinks:hover:after {
    width:100%;
    transition:0.3s;
}


.icon {
    line-height:30px;
    padding: 0 0 0 0;
    margin:5px 0 0 10px;
    font-size: 30px;
    text-align: center;
    color: var(--deep-grey);
  }



.icon:hover {
    color: var(--lighter-grey);
    transition: 0.3s;
}

#welcome {
    font-size: 16px;
    line-height:30px;
    color: black;
}


div.dropdown {
    display:inline-block;
    margin-left: 10px;
}

div.dropdown-content {
    display: block;
    opacity:0;
    z-index: 1;
    transform: translateY(-2em);
    position: absolute;
    transition: 0.3s;
}


a.logout {
    font-size: 16px;
    padding: 10px 15px;
    opacity: 0.8;
    background-color: var(--light-yellow);
    color: black;
    border: none;
}

button.login {
    font-size: 16px;
    line-height:16px;
    background-color: var(--base-yellow);
    border:none;
}

a.logout:hover {
    opacity: 1;
}

div.dropdown:hover .dropdown-content{
    display: block;
    transform: translateY(-0.5em);
    opacity:1;
    transition: 0.3s;
}





/* Dark mode */





body.dark .dot {
    height: 19px;
    width: 19px;
    background-color: var(--base-yellow);
    border-radius: 50%;
    border-color:black;
    border-width: 0.5px;
    border-style: solid;
    vertical-align: top;
    display: inline-block;
    margin-left: 5px;
    transform: translateX(28px);
    transition: 0.3s;
  }


body.dark #light-dark-switch {
    text-align: left;
    height: 30px;
    padding:0;
    vertical-align: middle ;
    width: 60px;
    background-color: var(--deep-grey);
    border-radius: 15px;
  }


body.dark .contact-us {
    background: var(--deep-grey);
    margin: 5px;
    padding: 7px 12px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    color:var(--base-yellow);
    border: none;
    font-size: 16px;
}


body.dark header {
    background-color: black;
    border-bottom: 10px solid var(--base-yellow);
}



body.dark a.navlinks {
    color:var(--light-yellow);
}



body.dark .icon {
    color: var(--light-grey);
}


body.dark #welcome {
    color: var(--light-yellow);
}



body.dark .icon:hover {
    color: var(--lighter-grey);
}



body.dark .contact-us:hover{
    background-color: var(--light-grey);
}

body.dark a.navlinks:after {
    background-color:var(--light-yellow);
}

body.dark #logo{
    color:var(--light-yellow);
}


body.dark a.logout {
    background-color: var(--light-grey);
    color: var(--light-yellow);
}

body.dark button.login {
    background-color: black;
    border:none;
    color: var(--light-yellow);
}