@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');


* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dot {
    height: 19px;
    width: 19px;
    background-color: #ffee9a;
    border-radius: 50%;
    border-color:black;
    border-width:0.5px;
    border-style: solid;
    vertical-align: top;
    display: inline-block;
    margin-left:5px;
  }


  #light-dark-switch {
    text-align: left;
    height: 30px;
    padding:0;
    vertical-align: middle ;
    width: 60px;
    background-color: #fff7d1;
    border-radius: 15px;
    border-width: 1px;
  }

a {
    text-decoration: none;
}

body {
    margin:0;
}

.contact-us:hover{
    background-color: #ffee9a;
    transition:0.3s;
    cursor:pointer;
}


#logo {
    margin:0;
    font-weight: 700;
}

.contact-us {
    background: #fff7d1;
    margin: 5px;
    padding: 7px 12px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    border: 0.5px solid black;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    margin: 0;
    background-color: #FFD54F;
    height:auto;
    border-bottom: 10px solid #fff7d1;
}

ul {
    list-style: none;
    display: flex;
    margin:0;
}


li, a.navbar {
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}


a.navlinks {
    padding:10px 15px;
    margin-left: 10px;
    margin-right: 10px;
    color:black;
}

a.navlinks:hover{
    background-color:#fff7d1;
    cursor:pointer;
    border-radius:10px;
    transition: 0.4s;
}
