@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
:root {
    --base-yellow: #FFD54F;
    --transparent-yellow: #ffd64f5f;
    --light-yellow: #fff7d1;
    --deep-grey: #272727;
    --light-grey: #383f46;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
    color:black;
}

.dot {
    height: 19px;
    width: 19px;
    background-color: #ffee9a;
    border-radius: 50%;
    border-color:black;
    border-width:0.5px;
    border-style: solid;
    vertical-align: top;
    display: inline-block;
    margin-left:5px;
  }


#light-dark-switch {
    text-align: left;
    height: 30px;
    padding:0;
    vertical-align: middle ;
    width: 60px;
    background-color: var(--light-yellow);
    border-radius: 15px;
    border-width: 1px;
  }



a {
    text-decoration: none;
}

body {
    margin:0;
}

.contact-us:hover{
    background-color: #ffee9a;
    cursor:pointer;
}


#logo {
    margin:0;
    font-weight: 700;
}

.contact-us {
    background: var(--light-yellow);
    margin: 5px;
    padding: 7px 12px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    border: 0.5px solid black;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    margin: 0;
    background-color: var(--base-yellow);
    height:auto;
    border-bottom: 10px solid var(--light-yellow);
}

ul {
    list-style: none;
    display: flex;
    margin:0;
}


li, a.navbar {
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: inline-block;
}


a.navlinks {
    position:relative;
    text-align: center;
    width:70px;
    letter-spacing:0.5px;
    padding:10px 15px;
    margin-left: 10px;
    margin-right: 10px;
    color:black;
}

a.navlinks:after {
    content:"";
    position: absolute;
    width:0%;
    left:0;
    border-radius: 2px;
    background-color:var(--light-yellow);
    height:5px;
    bottom:0px;
}


a.navlinks:hover:after {
    transition:0.3s;
    width:100%;
}









/* Dark mode */

body.dark .dot {
    height: 19px;
    width: 19px;
    background-color: var(--base-yellow);
    border-radius: 50%;
    border-color:black;
    border-width: 0.5px;
    border-style: solid;
    vertical-align: top;
    display: inline-block;
    margin-left: 5px;
    transform: translateX(28px);
  }


body.dark #light-dark-switch {
    text-align: left;
    height: 30px;
    padding:0;
    vertical-align: middle ;
    width: 60px;
    background-color: var(--deep-grey);
    border-radius: 15px;
    border-width: 1px;
  }


body.dark .contact-us {
    background: var(--deep-grey);
    margin: 5px;
    padding: 7px 12px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    color:var(--base-yellow);
    border: 0.5px solid black;
    font-size: 16px;
}


body.dark header{
    background-color: black;
    border-bottom: 10px solid var(--base-yellow);
}



body.dark a.navlinks {
    color:var(--light-yellow);
}

body.dark .contact-us:hover{
    background-color: var(--light-grey);
}



body.dark a.navlinks:hover{
    background-color: black;
    border-bottom: 0px solid var(--base-yellow);
}

body.dark a.navlinks:after {
    background-color:var(--light-grey);
}

body.dark  #logo{
    color:var(--light-yellow);
}

body.dark input {
    background-color: var(--light-grey);
    border: 2px solid var(--transparent-yellow);
}