{% extends "layout.html" %}

{% block body %}
<h2 class="Add your own story!"><mark>Stories</mark></h2>




<div class="story-cards">

    <div class="story-card">
        <img src="static/img/puss-in-boots-g8679dc1c7_1280.png" alt="puss-in-boots" width="200">
        <div class="content">
            <h3>Le chat botté - Puss in boots</h3>
            <a class = "read-btn" href="puss-in-boots">Read <span>&rarr;</span></a>
        </div> 
    </div>

    <div class="story-card">
        <a href="puss-in-boots"><img src="static/img/ugly-duckling.jpeg" alt="puss-in-boots" width="200"></a>
        <div class="content">
            <h3>Le chat botté - Puss in boots</h3>
            <a class = "read-btn" href="puss-in-boots">Read <span>&rarr;</span></a>
        </div> 
    </div>

    <div class="story-card">
        <a href="puss-in-boots"><img src="static/img/puss-in-boots-g8679dc1c7_1280.png" alt="puss-in-boots" width="200"></a>
        <div class="content">
            <h3>Le chat botté - Puss in boots</h3>
            <a class = "read-btn" href="puss-in-boots">Read <span>&rarr;</span></a>
        </div> 
    </div>
    <!-- This will add a new story -->
    <div class="story-card">
        <a href="add-story">+</a>
    </div>
</div>

{% endblock %}
