<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My first webpage</title>
    <link rel="stylesheet" href={{css_link}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link id = "header-style" rel="stylesheet" href="/static/css/header.css">
</head>
{% if not session.mode or session.mode == "dark" %}
<body id = "body" class = "dark">
{% else %}
<body id = "body" class>
{% endif %}
    <header>
        <p id="logo">Logo</p>
        <nav class="nav-links">
            <ul>
                <a class="navlinks navbar" href="/"><li class="navlinks">HOME</li></a>
                <a class="navlinks navbar" href="/stories"><li class="navlinks">STORIES</li></a>
            </ul>
        </nav>
        <div class="right">
            <button id="light-dark-switch"><span class="dot"></span></button>
            <a class="contact-us-link navbar" href="/#contact-section"><button class="contact-us">Contact us</button></a>
            {% if session.user %}
            <div class="dropdown">
                <p id = "welcome"> Hi {{session.user}}! </p>
                <div class="dropdown-content">
                    <a class="logout" href="/logout"> Log out </a>
                </div>
            </div>
            {% else %}
            <button class="login" onclick="showLogin()"><i class="fa fa-user icon"></i></button>
            {% endif %}
        </div>
    </header>
    {% block body %}{% endblock %}

    <div class="login-form" id="login-window">
        <div class="exit-login"><button onclick="removeLogin()">Exit</button></div>

        <div class="login-form-full" id="login-form-full">
            <h2 class="login" id = "h2-login"><p>Login</p></h2>

            <form class="login-form" id="login-form" action="/login" method="post">
                <div class="email">
                    <input class="login" type="email" name="email" id="login-email" placeholder="Email" autocomplete="on" required><br>
                </div>
                <div class="password">
                    <input class="login" type="password" name="password" id="login-password" placeholder="Password" autocomplete="off" required><br>
                </div>
                <input class="login" type="submit">
            </form>
        
            <h2>Not a member?</h2>
            <div class="switch-to-signup"><button onclick="switchToSignup()">Sign Up!</button></div>
        </div>

        <div class="signup-form-full hide" id="signup-form-full">
            <h2 class="signup" id = "h2-signup"><p>Sign Up</p></h2>
            <form class="signup-form" id="signup-form">
                <div class="email">
                    <input class="signup" type="email" name="email" id="signup-email" placeholder="Email" autocomplete="on" required><br>
                </div>
                <div class="password">
                    <input class="signup" type="password" name="password" id="signup-password" placeholder="Password" autocomplete="off" required><br>
                </div>
                <div class="name">
                    <input class="signup" type="name" name="name" id="firstName" placeholder="First Name"><br>
                </div>
                <div class="name">
                    <input class="signup" type="name" name="name" id="lastName" placeholder="Last Name"><br>
                </div>
                <input type="radio" id="Teacher" name="userType" value="teacher">
                <label for="Teacher"> I am a Teacher!</label><br><br>
                <input type="radio" id="Student" name="userType" value="student">
                <label for="Student"> I am a Student!</label><br><br>
                <input type="radio" id="Other" name="userType" value="other">
                <label for="Other"> Other</label><br><br>
                <input class="signup" type="submit">
            </form>

            <div class="switch-to-login"><button onclick="switchToLogin()">Log in!</button></div>
        </div>
    </div>

    <script src="/static/js/dark-header.js"></script>
    <script src="/static/js/logout.js"></script>
    <script src="/static/js/signup-form.js"></script>
    <script src="/static/js/login.js"></script>

</body>
</html>