<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My first webpage</title>
    <link rel="stylesheet" href={{css_link}}>
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
    <header>
        <p id="logo">Logo</p>
        <nav class="nav-links">
            <ul>
                <a class="navlinks navbar" href="/"><li>HOME</li></a>
                <a class="navlinks navbar" href="/stories"><li>STORIES</li></a>
            </ul>
        </nav>
        <a class="contact-us-link navbar" href="/#contact-section"><button class="contact-us">Contact us</button></a>
    </header>
    {% block body %}{% endblock %}
    
</body>
</html>