<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My first webpage</title>
    <link rel="stylesheet" href={{css_link}}>
    <link id = "header-style" rel="stylesheet" href="/static/css/header.css">
</head>
<body id = "body" class="dark">
    <header>
        <p id="logo">Logo</p>
        <nav class="nav-links">
            <ul>
                <a class="navlinks navbar" href="/"><li class="navlinks">HOME</li></a>
                <a class="navlinks navbar" href="/stories"><li class="navlinks">STORIES</li></a>
            </ul>
        </nav>
        <div class="right">
            <button id="light-dark-switch"><span class="dot"></span></button>
            <a class="contact-us-link navbar" href="/#contact-section"><button class="contact-us">Contact us</button></a>
        </div>
    </header>
    {% block body %}{% endblock %}
    <script src="/static/js/dark-header.js"></script>

</body>
</html>