{% extends "layout.html" %}

{% block body %}
    <h1>Login Page</h1>
    <form class="login-form" id="login-form" action="/login" method="post">
        <div class="email">
            <input type="email" name="email" id="login-email" placeholder="Email" autocomplete="on" required><br>
        </div>
        <div class="password">
            <input type="password" name="password" id="login-password" placeholder="Password" autocomplete="off" required><br>
        </div>
        <input type="submit">
    </form>

    <h2>Not a member?</h2>
    <h3>Sign up!</h3>

    <form class="signup-form" id="signup-form">
        <div class="email">
            <input type="email" name="email" id="signup-email" placeholder="Email" autocomplete="on" required><br>
        </div>
        <div class="password">
            <input type="password" name="password" id="signup-password" placeholder="Password" autocomplete="off" required><br>
        </div>
        <input type="submit">
    </form>
    <script src="/static/js/signup-form.js"></script>
    <script src="/static/js/login.js"></script>
{% endblock %}