<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My first webpage</title>
    <link rel="stylesheet" href={{css_link}}>
    <link id = "header-style" rel="stylesheet" href="/static/css/header.css">
</head>
{% if not session.mode or session.mode == "dark" %}
<body id = "body" class = "dark">
{% else %}
<body id = "body" class>
{% endif %}
    <h1>Login Page</h1>
    <form action="/" method="post">
        <div class="email">
            <input type="text" name="email" id="email" placeholder="Email" autocomplete="on"><br>
        </div>
        <div class="password">
            <input type="password" name="password" id="password" placeholder="Password" autocomplete="off"><br>
        </div>
        <input type="submit">
    </form>

    <h2>Not a member?</h2>
    <h3>Sign up!</h3>

    <form action="/" method="post">
        <div class="email">
            <input type="text" name="email" id="email" placeholder="Email" autocomplete="on"><br>
        </div>
        <div class="password">
            <input type="password" name="password" id="password" placeholder="Password" autocomplete="off"><br>
        </div>
        <input type="submit">
    </form>
    <script src="/static/js/dark-header.js"></script>

</body>
</html>