<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My first webpage</title>
    <link rel="stylesheet" href="css/story-cards.css">
    <link rel="stylesheet" href="css/header.css">
</head>

</html>
<body>
    <header>
        <p id="logo">Logo</p>
        <nav class="nav-links">
            <ul>
                <a class="navlinks navbar" href="index.html"><li>HOME</li></a>
                <a class="navlinks navbar" href="stories.html"><li>STORIES</li></a>
            </ul>
        </nav>
        <a class="contact-us-link navbar" href="index.html#contact-section"><button class="contact-us">Contact us</button></a>
    </header>
    <h2 class="stories"><mark>Stories</mark></h2>
    

    <div class="story-cards">

        <div class="story-card">
            <img src="img/puss-in-boots-g8679dc1c7_1280.png" alt="puss-in-boots" width="200">
            <div class="content">
                <h3>Le chat botté - Puss in boots</h3>
                <a class = "read-btn" href="puss-in-boots.html">Read <span>&rarr;</span></a>
            </div> 
        </div>

        <div class="story-card">
            <a href="puss-in-boots.html"><img src="img/ugly-duckling.jpeg" alt="puss-in-boots" width="200"></a>
            <div class="content">
                <h3>Le chat botté - Puss in boots</h3>
                <a class = "read-btn" href="puss-in-boots.html">Read <span>&rarr;</span></a>
            </div> 
        </div>

        <div class="story-card">
            <a href="puss-in-boots.html"><img src="img/puss-in-boots-g8679dc1c7_1280.png" alt="puss-in-boots" width="200"></a>
            <div class="content">
                <h3>Le chat botté - Puss in boots</h3>
                <a class = "read-btn" href="puss-in-boots.html">Read <span>&rarr;</span></a>
            </div> 
        </div>
        <div class="story-card">
            <a href="puss-in-boots.html"><img src="img/puss-in-boots-g8679dc1c7_1280.png" alt="puss-in-boots" width="200"></a>
            <div class="content">
                <h3>Le chat botté - Puss in boots</h3>
                <a class = "read-btn" href="puss-in-boots.html">Read <span>&rarr;</span></a>
            </div> 
        </div>
    </div>

    <script src="js/highlights.js"></script>
    
    
</body>
