{% extends "layout.html" %}

{% block body %}
<h2 class="stories"><mark>Stories</mark></h2>


<div class="story-cards">
    {% for story in stories %}
        <div class = "story-card">
            <img src= "{{story['imageURL']}}" alt="{{story['title']}}" width="200">
            <div class="content">
                <h3>{{story["title"]}}</h3>
                <a class = "read-btn" href="puss-in-boots">Read <span>&rarr;</span></a>
            </div>
         </div>
    {% endfor %}
    <!-- This will add a new story -->
    <div class="story-card">
        <a href="add-story">+</a>
    </div>
</div>

{% endblock %}
